<div class="breadcrumb flex justify-around">
    <div class="breadcrumb-item-step-1 active">
        <span class="block item mx-auto rounded-full text-center bg-gray-200 text-white w-9 h-9 leading-9">1</span>
        <span class="text-gray-200 txt block text-center mx-auto text-sm">Ticket</span>
    </div>
    <div class="breadcrumb-item-step-2 second mx-5">
        <span class="block item mx-auto rounded-full text-center bg-gray-200 text-white w-9 h-9 leading-9">2</span>
        <span class="text-gray-200 txt block text-center mx-auto text-sm">Order</span>
    </div>
    <div class="breadcrumb-item-step-3 third">
        <span class="block item mx-auto rounded-full text-center bg-gray-200 text-white w-9 h-9 leading-9">3</span>
        <span class="text-gray-200 txt block text-center mx-auto text-sm">Success</span>
    </div>
</div>