<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <title>{% block title %}Hawk Event{% endblock %}</title>
    </head>
    <body>
        <div class="content flex min-h-screen">
            <!-- sidebar -->
            {% if isEventDashboard %}
                {% include 'elements/sidebar_event.html' %}
            {% else %}
                {% include 'elements/sidebar.html' %}
            {% endif %}

            <div class="bg-gray-100 w-5/6">
                <!-- Include do header -->
                {% include 'elements/header.html' %}

                <!-- Conteúdo da página -->
                <section class="content flex justify-center mt-3 mb-3">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </body>
</html>