<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>
            (function (s, t, a, y, twenty, two) {
                s.Stay22 = s.Stay22 || {};
                // Just fill out your configs here
                s.Stay22.params = {
                    aid: "doity",
                    deepStruct: []
                };
                // Leave this part as-is;
                twenty = t.createElement(a);
                two = t.getElementsByTagName(a)[0];
                twenty.async = 1;
                twenty.src = y;
                two.parentNode.insertBefore(twenty, two);
            })(window, document, "script", "https://scripts.stay22.com/letmeallez.js");
        </script>
        <title>{% block title %}Hawk Event{% endblock %}</title>
    </head>
    {% include 'checkout/checkout_modal.html' %}

    <body>
        <!-- Include do header -->
        {% include 'elements/navbar.html' %}

        <!-- Conteúdo da página -->
        <div class="bg-gray-200 flex flex-col justify-center min-h-screen">
            {% block content %}{% endblock %}
        </div>

        <!-- Include do footer -->
        {% include 'elements/footer.html' %}
    </body>
</html>